*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{

    --main-palette-color:#c4112f;
    --second-palette-color:#fef1e1;
    --third-palette-color:#310000;
}

body{
    background-color: var(--main-palette-color);
    overflow-x: hidden;
    
}


#container-home{
    width: 80%;
    margin: auto;
}

header{
    width: 100%;
    background-color: white;
    padding-top: 20px;
    height: 120px;
    margin-bottom: 20px;
}

header .row{
    text-align: center;
}

header h3{
    color: var(--third-palette-color);
}

header a{
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: var(--main-palette-color)
}

header a:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--third-palette-color);
 }
 

header a:nth-child(2){
   color: var(--third-palette-color);
}

header a:nth-child(2):hover{
    color: var(--main-palette-color);
 }



/* CARD*/

.card-body p:nth-child(2){
   font-style: italic;
   color: var(--main-palette-color);
   font-size: 22px;
}

/* .card-body p{
    text-align: end;
} */


button{
    width: 100%;
}

/* button:hover{
    background-color: var(--third-palette-color) !important;
    color: #310000 !important;

}
 */

/* FOOTER */

footer{
    margin-top: 50px;
    width: 100%;
    background-color:black;
}

.box-footer{
    width: 80%;
    margin: auto;
}

.box-footer p{
    color: white;
    margin: 10px;
}